body {
  font-family: 'Roboto', sans-serif;
  background-color: #e5e5e5;
}
.wrapper {
  width: 1600px;
  background-color: #ffffff;
  margin: auto;
}

.topnav {
  background-color: #ffffff;
  width: 1600;
  height: 80;
  display: flex;
  border: #ececec solid 1px;
}
.topnav > a {
  text-decoration: none;
}

.logo {
  font-family: 'Raleway';
  color: #000000;
  font-weight: 700;
  font-size: 26px;
  line-height: 0.72;
  letter-spacing: 0.03em;
  margin-top: 24px;
  margin-left: 215px;
  margin-bottom: 25px;
}
.logo-first-letters {
  color: #2196f3;
}

.menu {
  padding-right: 200px;

  list-style-type: none;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.7;
  letter-spacing: 0.02em;
}
.menu > li {
  padding-right: 46px;
}
.menu > li > a {
  color: #212121;
  text-decoration: none;
  line-height: 1.17;
}
.menu > li > a:hover {
  color: #2196f3;
}
.contacts {
  list-style-type: none;
  margin-top: 32px;
  margin-right: 227px;
  font-size: 14px;
  font-weight: 500;
  color: #757575;
}
.contacts > li {
}
.contacts > li > a {
  text-decoration: none;
  color: #757575;
  line-height: 1.17;
}
.contacts > li > a:hover {
  color: #2196f3;
}
.big-title {
  width: 1600px;
  height: 600px;

  background: #2f303a;
}

.title {
  width: 696px;
  height: 120px;
  color: #ffffff;
  margin-top: 200px;
  margin-left: 452px;
  font-size: 44px;
  letter-spacing: 6px;
  line-height: 1.36;
  text-align: center;
}
.button {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;

  font-size: 16px;
  line-height: 30px;
  margin-top: 100px;
}
.button:hover {
  background-color: #2196f3;
  cursor: pointer;
}
.button:focus {
  background-color: #2196f3;
}
.description-studio {
  width: 1170px;

  margin-right: 215px;
  margin-left: 215px;
  margin-top: 94px;
}
.description-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  font-family: 'Roboto';
}
.description-list > li > h4 {
  font-size: 14px;
  font-weight: 700;
  color: #212121;
  line-height: 16.41px;
  text-transform: uppercase;
}
.description-list > li > p {
  font-size: 14px;
  line-height: 24px;
  color: #757575;
}
.our-job {
  width: 1170px;
  height: 386px;
  margin-left: 215px;
  margin-top: 94px;
}
.small-title {
  font-size: 36px;
  font-weight: 700;

  line-height: 42.19px; /*pozamieniac na mnozniki*/

  text-align: center;
}

.images-studio-top {
  display: flex;
  padding-left: 0px;
  list-style-type: none;

  margin-left: auto;
  margin-right: auto;
}
.images-studio-top > li {
  padding-right: 30px;
}

.team {
  margin-top: 94px;
  margin-left: auto;
  margin-right: auto;
  height: 648px;
  background: #f5f4fa;
}

.worker-list {
  display: flex;
  list-style-type: none;
}
.worker-list > li {
  padding-right: 30px;
}
.worker-list p {
  color: #757575;
  font-size: 16px;
}
.worker-list h3 {
  color: #212121;
  font-size: 16px;
}
.item {
  padding: 10px;
}

.last-title {
  color: #212121;
  font-size: 36px;
  padding-top: 94px;
  text-align: center;
}
.footer {
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 1628px;
  background: #2f303a;
}

.footer a:hover {
  color: #2196f3;
}
.logo-footer {
  font-family: 'Raleway';
  color: #ffffff;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
.footer .logo-footer {
  text-decoration: none;
}
.logo-footer:hover {
  color: #2196f3;
}
.footer-address {
  list-style-type: none;

  font-size: 14px;

  font-family: 'Roboto', sans-serif;

  line-height: 24px;
}
.footer-address > .first-item > a {
  text-decoration: none;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
  line-height: 1.7;
}
.footer-address > .first-item > a:hover {
  color: #2196f3;
}
.footer-address > .second-item > a {
  text-decoration-line: underline;
  letter-spacing: 0.03em;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.7;
}
.footer-address > .second-item > a:hover {
  color: #2196f3;
}
.footer-address > .third-item > a {
  text-decoration: none;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.03em;
  line-height: 1.7;
}
.footer-address > .third-item > a:hover {
  color: #2196f3;
}
.container {
  margin-left: 200px;
}

.buttons-portfolio {
  list-style-type: none;
}
.button-item {
  padding: 6px;
}
.button-item:hover {
  cursor: pointer;
  background-color: #2196f3;
}
.images-portfolio {
  list-style-type: none;
}
.images-portfolio span {
  color: #757575;
}
.images-description h3 {
  color: #212121;
}
